<p id="notice"><%= notice %></p>

<h1>Wikis</h1>
    <% if user_signed_in? %>
    <%= link_to 'New Wiki', new_wiki_path, class: 'btn btn-primary' %>
    <% end %>
<br></br>

<% @wikis.each do |wiki| %>
  <div class="col-md-8">
    <h2><%= wiki.title %></h2>
    <small>By <%= wiki.user.email %> <%= "Private" if wiki.private? %></small>
    <p>
      <%= wiki.body %>
    </p>
  </div>
  <div class="col-md-4">
    <%= link_to 'Read', wiki, class: 'btn btn-default' %>
    <%= link_to 'Edit', edit_wiki_path(wiki), class: 'btn btn-default' %>
    <%= link_to 'Delete', wiki, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
  </div> 
<% end %>
