<% if current_user && current_user.standard? %>
<h3>Enjoy even more from Blocipedia, upgrade your account to Premium</h3>
<%= form_tag charges_path do %>
  <script class='stripe-button' src="https://checkout.stripe.com/checkout.js" data-key="<%= @stripe_btn_data[:key] %>" data-amount=<%= @stripe_btn_data[:amount] %> data-description="<%= @stripe_btn_data[:description] %>" ></script>
<% end %>
<% end %>

<% if current_user && current_user.premium? %>
<h3>Are you sure you wish to Downgrade you account? You will no longer be able to use private wikis.</h3>
  <%= link_to "Downgrade Account", root_path, class: "btn btn-primary" %>
<% end %>
